<!-- Password input -->
<input
  class="password-input"
  name="password"
  id="password"
  [class.error-validation]="isValidationError"
  [placeholder]="placeholder"
  [attr.type]="(showPassword$ | async) ? 'text' : 'password'"
  [formControl]="this.passwordControl" />

<!-- Toggle password visibility button -->
<button
  class="password-toggle-button"
  type="button"
  role="switch"
  aria-checked="mixed"
  [attr.aria-label]="(showPassword$ | async) ? 'Hide password' : 'Show password'"
  (click)="togglePasswordVisibility()">
  <rag-icon class="password-toggle-icon" [iconID]="(passwordVisibilityIconId$ | async) ?? 'visibility_off'" />
</button>
