:host {
  @apply block
         relative w-full
         text-[var(--platinum-white-c9c9c9)];

  .password-input,
  .password-toggle-button {
    @apply font-normal text-[14px] leading-[30px];
  }

  .password-input {
    @apply w-full h-9 m-0 px-[16px] py-[8px] tracking-[0]
           border-[1.5px] border-[#464649] border-solid rounded-[2px];
  }

  .error-validation {
    @apply border-[#ff5e53];
  }

  .password-toggle-button {
    @apply absolute top-[50%] right-[16px]
           flex flex-col justify-center items-center;

    transform: translate(0%, -50%);

    // Reset
    background: none;

    @apply border-none;

    .password-toggle-icon {
      --size: 20px;
      --primary-icon-color: var(--platinum-white-c9c9c9, #c9c9c9);
    }
  }
}
