<div *ngIf="player$ | async as player">
  <div class="attributes-container" *ngIf="mode === 'complete'; else compact">
    <div class="attribute-container">
      <div class="attribute-individual" *ngFor="let attribute of attributesList">
        <p class="attribute-name">{{ makeAttributeAlias(attribute) }}</p>
        <p class="attribute-value">{{ player.attributes[attribute] }}</p>
        <div class="attribute-add">
          <button class="button" *ngIf="player.attributes_to_spend > 0" (click)="addAttribute(attribute)">+</button>
        </div>
      </div>
    </div>
    <div class="attributes-secondary">
      <div class="attributes-secondary-stats">
        <p>Base: +{{ player.stats.damage.base | number : '1.0-0' }}</p>
        <p>Arma: +{{ player.stats.damage.weapon | number : '1.0-0' }}</p>
        <p>Skills: +{{ player.stats.damage.skills | number : '1.0-0' }}</p>
        <p>
          Dano total:
          {{ totalDamage$ | async | number : '1.0-0' }}
        </p>
      </div>
      <div class="attributes-secondary-points-to-add">
        <p>Points to add: {{ player.attributes_to_spend }}</p>
      </div>
    </div>
  </div>
  <ng-template #compact>
    <div class="line one">
      <p>
        Dano por click: {{ totalDamage$ | async | number : '1.0-0' }} / Free points:
        {{ player.attributes_to_spend }}
      </p>
    </div>
  </ng-template>
</div>
