<div *ngIf="player$ | async as player">
  <div class="attributes-container" *ngIf="mode === 'complete'; else compact">
    <div class="attribute-container">
      <div class="attribute-individual" *ngFor="let attribute of attributesList">
        <p class="attribute-name">{{ makeAttributeAlias(attribute) }}</p>
        <p class="attribute-value">{{ player.attributes[attribute] }}</p>
        <div class="attribute-add">
          <button class="button" *ngIf="player.attributes_to_spend > 0" (click)="addAttribute(attribute)">+</button>
        </div>
      </div>
    </div>
    <div class="attributes-secondary">
      <div class="attributes-secondary-stats">
        <p>Weapon dpc: {{ player.stats.damage.weapon | number : '1.0-0' }}</p>
        <p>base: {{ player.stats.damage.base | number : '1.0-0' }}</p>
        <p>
          Total atk: {{ player.stats.damage.base | number : '1.0-0' }} +
          {{ player.stats.damage.weapon | number : '1.0-0' }}
        </p>
      </div>
      <div class="attributes-secondary-points-to-add">
        <p>Points to add: {{ player.attributes_to_spend }}</p>
      </div>
    </div>
  </div>
  <ng-template #compact>
    <div class="line one">
      <p>
        Nv. {{ player.level.base }} / Sicário / Nv. {{ player.level.job }} / Exp.
        {{ (player.exp.current.base / player.exp.toLevelUp.base) * 100 | number : '1.0-2' }}%
      </p>
    </div>
  </ng-template>
</div>
