<!-- Skills Info -->
<rag-hud
  class="hud"
  #hud
  [boundaryParentContainer]="game"
  [cdkDragFreeDragPosition]="(hudStartingPosition$ | async)!"
  *ngIf="hudControl$ | async">
  <span class="basic-info" infoOpened>Skills</span>
  <span class="basic-info" infoClosed>Skills</span>
  <rag-button-rounded class="btn-close" closeHud (click)="close()">x</rag-button-rounded>

  <!-- Does this makes sense? -->
  <rag-player-skills [mode]="'complete'" />
  <rag-player-skills closed [mode]="'compact'" />
</rag-hud>
