<main #game class="game">
  <!-- Player info -->
  <rag-hud-info class="hud-info" [game]="game" />
  <!-- Player attributes -->
  <rag-hud-attributes class="hud-attributes" [game]="game" />
  <!-- Player Equipments -->
  <rag-hud-equipments class="hud-equipments" [game]="game" />
  <!-- Player skills -->
  <rag-hud-skills class="hud-skills" [game]="game" />
  <!-- Game config -->
  <rag-hud-config class="hud-config" [game]="game" />
  <!-- DEBUGGER -->
  <rag-reset *ngIf="showDebugger" class="reset" [game]="game" />
  <!-- Map -->
  <button class="btn" (click)="resetAllHudsPositioning()">RESET</button>
  <rag-map [map]="currentMap" (click)="attack($event)">
    <ng-template ragHitbox></ng-template>
    <!-- Monster -->
    <ng-container *ngIf="loadMonster$ | async">
      <rag-monster [image$]="image$" />
    </ng-container>
  </rag-map>
</main>
