<main #game class="game">
  <rag-hud-info class="hud-info" [game]="game" />
  <rag-hud-attributes class="hud-attributes" [game]="game" />
  <rag-reset class="reset" [game]="game" />
  <!-- Map -->
  <rag-map [map]="currentMap" (click)="attack()">
    <ng-container *ngIf="loadMonster$ | async">
      <!-- Monster image -->
      <img class="monster" [src]="image$ | async" alt="" draggable="false" (dragstart)="(false)" />
      <!-- Monster Life bar -->
      <div class="hp-container">
        <div class="hp" [style.width.%]="((life$ | async)! / monsterData.life) * 100"></div>
      </div>
    </ng-container>
  </rag-map>
</main>
