:host {
  .skills-container {
    @apply max-h-[400px] overflow-y-auto;

    .skill-list {
      @apply flex flex-col gap-[8px];

      .skill-info {
      }

      .btn {
        @apply border-[2px] border-solid border-[rgb(0,0,0)] rounded-[4px];
        @apply w-fit px-[4px] mb-[12px];

        &:hover {
          @apply drop-shadow-[0px_0px_2px_#A7A7A7];
          @apply shadow-[inset_1px_1px_15px_-30px_#000000,inset_-1px_-1px_15px_-30px_#000000,inset_-1px_-1px_15px_-30px_#000000];
          @apply bg-slate-50;
          cursor: url('/assets/cursors/pointer.webp'), auto;
        }

        &.off {
          @apply bg-[#cccccc] text-[#666666] border-transparent;

          &:hover {
            @apply drop-shadow-none shadow-none;
            cursor: not-allowed;
          }
        }
      }

      .descriptions {
        @apply border-b-[1px] border-solid border-b-[#00000023];
        @apply pb-[5px];
      }

      .skill-compact {
        @apply flex flex-col gap-[16px];

        .separator {
          @apply border-b-[1px] border-solid border-gray-200;
          @apply pb-[8px];
        }

        .skill {
          @apply flex justify-between items-center gap-[8px];

          .btn-compact {
            @apply px-[16px] py-[8px];
            @apply border-[1px] border-solid border-gray-500 rounded-[6px];

            &:hover {
              @apply drop-shadow-[0px_0px_2px_#A7A7A7];
              @apply shadow-[inset_1px_1px_15px_-30px_#000000,inset_-1px_-1px_15px_-30px_#000000,inset_-1px_-1px_15px_-30px_#000000];
              @apply bg-slate-50;
              cursor: url('/assets/cursors/pointer.webp'), auto;
            }
          }

          .skill-mapping {
            @apply capitalize;
          }
        }
      }

      .free {
        @apply flex justify-end;
      }
    }
  }
}
