<div *ngIf="player$ | async">
  <div *ngIf="skills$ | async as skills">
    <ng-container *ngIf="mode === 'complete'; else compact">
      <div *ngFor="let skill of skills.skills_player_has">
        <p>Has: {{ skill.name }}/ level: {{ skill.level }}</p>
      </div>
      <div *ngFor="let skillFromList of skills.skill_list | keyvalue">
        <p>List: {{ skillFromList.key }}</p>
        <ul>
          <li>Type: {{ skillFromList.value.type }}</li>
          <li>Description: {{ skillFromList.value.description }}</li>
        </ul>
      </div>
      <p>Free: {{ skills.skill_points }}</p>
    </ng-container>
    <ng-template #compact> SKILLS COMPACT </ng-template>
  </div>
</div>
