<div *ngIf="player$ | async">
  <div *ngIf="skills$ | async as skills">
    <ng-container *ngIf="mode === 'complete'; else compact">
      <div *ngFor="let skill of skills.passive | keyvalue">
        <p>Has: {{ skill.key }}/ level: {{ skill.value.level }}</p>
        <button class="btn" (click)="uparSKill(skill.value.name)">
          Upar {{ skill.value.name }} to level: {{ skill.value.level + 1 }}
        </button>

        <ul>
          <li>Upgrade: {{ skill.value.upgrade }}</li>
          <li>Description: {{ skill.value.description }}</li>
        </ul>
      </div>
      <p>Free: {{ skills.skills_to_spend }}</p>
    </ng-container>
    <ng-template #compact> SKILLS COMPACT </ng-template>
  </div>
</div>
