:host {
  .maps-container {
    @apply w-[100%];
    @apply flex justify-center items-center self-stretch gap-[16px];
    @apply px-[32px] py-[24px];

    .carousel-container {
      @apply w-[100%];

      border: 1px solid red;
      @apply flex justify-center items-center self-stretch gap-[80px];
      .btn {
        @apply flex justify-center items-center;
        @apply w-[60px] h-[60px];
        @apply text-[72px] font-[600] leading-[112%] text-[#303030];
        border: 1px solid blue;
        &.left {
        }
        &.right {
        }

        &:hover {
          @apply text-[#808080];
        }
      }

      .carousel-data {
        @apply flex justify-center items-center self-stretch gap-[16px];

        .selection {
          cursor: url('/assets/cursors/pointer.webp'), auto;
          .img {
            @apply w-[400px] h-[225px];
          }

          .name {
            @apply flex justify-center items-center;
            @apply text-[0.75rem] font-[500] leading-[120%];
          }
        }
      }
    }
  }
}
