@tailwind base;
@tailwind components;
@tailwind utilities;

// TODO: Move this to a /styles/themes
:root {
  --primary-color: #d3f0f4;
  --secondary-color: #a7bbf6;
}

* {
  @apply p-0 m-0 box-border;
}

html,
body {
  @apply h-[100%];
  @apply overflow-x-hidden;
}
body {
  @apply m-0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.gradient {
  @apply bg-[linear-gradient(to_top,#d3f0f4,#a7bbf6,#d3f0f4)];
}
