<!-- Base Hud component -->
<div class="hud" cdkDrag cdkDragBoundary=".game">
  <!-- Top draggable -->
  <div class="gradient-top gradient" cdkDragHandle>
    <ng-container *ngIf="hudStateTop; else closedStateTop">
      <ng-content select="[infoOpened]" />
    </ng-container>
    <ng-template #closedStateTop>
      <ng-content select="[infoClosed]" />
    </ng-template>
    <rag-button-rounded (click)="toggleHud()" #toggle (mousedown)="$event.stopPropagation()">-</rag-button-rounded>
  </div>
  <!-- Hud content -->
  <div class="container-hud">
    <!-- Opened hud content -->
    <ng-container *ngIf="hudState; else closedState">
      <ng-content />
    </ng-container>
    <!-- Closed hud content -->
    <ng-template #closedState>
      <ng-content select="[closed]" />
    </ng-template>
  </div>
</div>
