<!-- Base Hud component -->
<div
  [style.width.px]="hudWidth"
  class="hud"
  cdkDrag
  cdkDragBoundary=".game"
  [cdkDragFreeDragPosition]="(hudStartingPosition$ | async)!"
  (cdkDragEnded)="updatePosition($event)">
  <!-- Top draggable -->
  <div class="gradient-top gradient" cdkDragHandle>
    <ng-container *ngIf="toggleable; else notToggleable">
      <ng-container *ngIf="hudStateTop; else closedStateTop">
        <ng-content select="[infoOpened]" />
      </ng-container>
      <ng-template #closedStateTop>
        <ng-content select="[infoClosed]" />
      </ng-template>
      <rag-button-rounded (click)="toggleHud()" #toggle (mousedown)="$event.stopPropagation()">-</rag-button-rounded>
    </ng-container>
    <ng-template #notToggleable>
      <ng-content select="[infoNotToggleable]" />
      <rag-button-rounded #toggle (mousedown)="$event.stopPropagation()">-</rag-button-rounded>
    </ng-template>
  </div>
  <!-- Hud content -->
  <div class="container-hud">
    <!-- Opened hud content -->
    <ng-container *ngIf="hudState; else closedState">
      <ng-content />
    </ng-container>
    <!-- Closed hud content -->
    <ng-template #closedState>
      <ng-content select="[closed]" />
    </ng-template>
  </div>
</div>
